
//- TEMPLATE
extends common/layouts/_layout

prepend metas
    meta(name="description" content='zense')
    meta(name="keywords" content='some keyw')
    //- social prev-s
    -var socVars = {type: 'some type', title: 'some title', descr: 'some dscr', img: 'some link'}
    +social(socVars)
block content
    //- PHONE
    +phone(55555555)
    //- HEADER
    //- -var activeIndex = 1
    include common/layouts/_header
    //- MAIN CONTENT
    // MAIN CONTENT
    main.main#my-scrollbar
        section.top-section
            .top-section__bg-foto(style=`background-image: url(${startPath}img/main/top_dscr_min.jpg)`)
            .container
                .top-section__dscr
                    h1.title.top-section__title For hair like in your 20s in your 40s, 50s & beyond
                        //- -var title = 'For hair like in your 20s in your 40s, 50s & beyond'.split(' ');
                        //-  each val in title   
                        //-     span.word
                        //-         -var letters = val.split('');
                        //-         each val in letters
                        //-             span.letter-overflow
                        //-                 span.animated-letters= val
                    p.text.top-section__text Zense’s organic treatments encourage new hair growth and help you naturally restore your hair’s original beauty, strength, and thickness in as little as 3 weeks. Without lasers.
                    +hover-btn('#learn-more', 'Learn more')(class='scroll-triger')
        section.section.section--1#learn-more
            .container
                .section__inner-wrap
                    .section__img-col
                        .section__inner-lay
                            .section__lay.parallax-lay
                            picture.section__img.parallax-img
                                source(srcset=`${startPath}img/main/1-sm.jpg` media="(max-width: 768px)")
                                source(srcset=`${startPath}img/main/1.jpg`)
                                img(src="img/main/1.jpg" alt="zense 1")
                    .section__text-col
                        h2.section__title.title Thinning hair, receding hairlines, and bald patches aren't just a men's thing.  
                            //- -var title = "Thinning hair, receding hairlines, and bald patches aren't just a men's thing.".split(' ');
                            //- each val in title   
                            //-     span.word
                            //-         -var letters = val.split('');
                            //-         each val in letters
                            //-             span.letter-overflow
                            //-                 span.animated-letters= val
                        .section__text.text Up to 40% of women aged 40, and 80% of women aged 60 and over suffer from some form of hair loss, according to the American Academy of Dermatology and the American Hair Loss Association.   
                        .section__text.text And while there are many treatments available to help men regrow and strengthen their hair, women’s options were limited to expensive laser therapies or harsh chemical treatments.
                        .section__text.text Other women would cut their hair shorter, dye their hair lighter, or use volumizers to try and disguise their hair loss.  
                        +hover-btn(`${startPath}pages/shop.html`, 'Order now')
        section.section.section--2
            .container
                .section__inner-wrap
                    .section__text-col.parallax-lay
                        h2.section__title.title But now, you don't have to. Because you can fight it - naturally. 
                            //- -var title = "But now, you don't have to. Because you can fight it - naturally.".split(' ');
                            //- each val in title   
                            //-     span.word
                            //-         -var letters = val.split('');
                            //-         each val in letters
                            //-             span.letter-overflow
                            //-                 span.animated-letters= val
                        .section__text.text Combining ancient oriental medicinal herbs with a modern delivery system, Zense’s certified organic and vegan treatments <span>naturally encourage the growth of new, healthy hair</span>, while strengthening and rejuvenating your existing hair inside and out.   
                        .section__text.text Stopping hair loss in its tracks and giving you stronger, thicker, more luscious hair - without lasers or harsh chemicals.
                        +hover-btn(`${startPath}pages/shop.html`, 'Order now')
                    .section__img-col
                        .section__inner-lay
                            picture.section__img.parallax-img
                                source(srcset="img/main/2-sm.jpg" media="(max-width: 768px)")
                                source(srcset="img/main/2.jpg")
                                img(src="img/main/2.jpg" alt="zense 2")
        section.section.section--slider 
            .container
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .swiper-slide__dscr
                                .swiper-slide__title.title Ginger <br> Root Extract
                                .swiper-slide__text.text Lifting and energizing, Ginger Root increases blood circulation to hair follicles, encouraging new, natural growth, and reduces inflammation for healthier, stronger hair from root to tip.
                            img.swiper-img.swiper-lazy(data-src="img/main/slider/1.jpg" src="img/main/slider/placeholder.jpg" alt='zense')
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                        .swiper-slide
                            .swiper-slide__dscr
                                .swiper-slide__title.title Grape <br> Seed Oil
                                .swiper-slide__text.text Plentiful in Vitamin E and Lineolic Acid, Grape Seed Oil deeply nourishes and moisturizes brittle and weak hair - making it stronger, shinier, and healthier.
                            img.swiper-img.swiper-lazy(data-src="img/main/slider/2.jpg" src="img/main/slider/placeholder.jpg" alt='zense')
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                        .swiper-slide
                            .swiper-slide__dscr
                                .swiper-slide__title.title Rosemary Oil
                                .swiper-slide__text.text Aside from naturally assisting hair growth, Rosemary Oil is well-known for soothing dry, flaky, and irritated scalps while increasing circulation to prevent premature graying.
                            img.swiper-img.swiper-lazy(data-src="img/main/slider/3.jpg" src="img/main/slider/placeholder.jpg" alt='zense')
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                        .swiper-slide
                            .swiper-slide__dscr
                                .swiper-slide__title.title Fleeceflower Root
                                .swiper-slide__text.text One of Traditional Chinese Medicine’s best-kept secrets, antioxidant-rich Fleeceflower Root has been used for centuries to stop hair from prematurely graying and to restore lost hair.
                            img.swiper-img.swiper-lazy(data-src="img/main/slider/4.jpg" src="img/main/slider/placeholder.jpg" alt='zense')
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                        .swiper-slide
                            .swiper-slide__dscr
                                .swiper-slide__title.title Ginseng Extract
                                .swiper-slide__text.text Highly revitalizing, Ginseng actively promotes hair growth by stimulating the scalp and hair roots while reducing stress levels to halt further loss of existing hair.
                            img.swiper-img.swiper-lazy(data-src="img/main/slider/5.jpg" src="img/main/slider/placeholder.jpg" alt='zense')
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                .swiper-btn__row
                    .swiper-btn Pull left
                        .arrow
        section.section.section--3
            .container
                .section__inner-wrap#fixed-img1
                    .section__img-col
                        picture.section__img.parallax-img
                            source(srcset="img/main/3-sm.jpg" media="(max-width: 768px)")
                            source(srcset="img/main/3.jpg")
                            img(src="img/main/3.jpg" alt="zense 3")
                    .section__text-col
                        .section__text-header
                            h2.section__title.title "So, how does it work?"  
                                //- -var title = '"So, how does it work?"'.split(' ');
                                //- each val in title   
                                //-     span.word
                                //-         -var letters = val.split('');
                                //-         each val in letters
                                //-             span.letter-overflow
                                //-                 span.animated-letters= val
                            .section__text.text Halting female hair loss and growing beautifully strong and healthy hair is easy with Zense.
                        .section__text-scroll-outer
                            .section__text-scroll-inner
                                h3.section__title.title.title--sm.accent Here's how you do it in just 3 simple steps:  
                                .section__text.text.bold 1. ACTIVATE Hair Growth Essence
                                .section__text.text Pour your ACTIVATE Hair Growth Essence into your mixing bottle and add your favorite shampoo. Shake gently to mix well and massage into your hair gently every time you wash it.
                                .section__text.text This essence soothes irritated and inflamed scalps, strengthens roots, and increases circulation to help promote new growth.
                                .section__text.text.bold 2. AMPLIFY Scalp Nourishing Serum
                                .section__text.text After gently towel-drying your hair, use the dropper from your AMPLIFY Scalp Nourishing Serum to disperse 10-20 drops along your hairline, your natural part, and thinning or balding patches. Then, work it into your hair roots gently with your fingertips.
                                .section__text.text Your AMPLIFY Scalp Nourishing Serum works for a full 24 hours - stimulating your roots and follicles while nourishing them deeply for added strength and shine.
                                .section__text.text For advanced results, use in combination with your AMPLIFY+ Scalp Conditioning SPA.
                                .section__text.text.bold 3. AMPLIFY+ Scalp Conditioning SPA
                                .section__text.text Using the dropper from your AMPLIFY Scalp Nourishing Serum, place 10-20 drops in the reservoir of your AMPLIFY+ Scalp Conditioning SPA comb and press the “Start” button. Comb your entire head softly for a few minutes until all serum has been dispersed.
                                .section__text.text The combination of delicate infrared light and soothing vibrations encourages healthy cell and hair regeneration - for stronger, more luscious hair.
                                .section__text.text.bold And for even better results, both inside and out, combine your above hair treatment with Zense’s NOURISH Advanced Hair Growth Formula.
                                .section__text.text.bold Just taking 2 of the antioxidant and vitamin-packed capsules once a day will help replenish the minerals your body needs to help grow strong and healthy hair.
                                .section__text.title.title--sm.accent By following these simple steps, in just 3 weeks you'll be amazed at the difference in your hair's thickness, shine, and volume.

    // MAIN CONTENT - end
    // FOOTER
    -var footerFull = true;
    include common/layouts/_footer
    // FOOTER - end
append scripts
    //- script(src="./js/custom/home.min.js")
