
//- TEMPLATE

extends ../common/layouts/_layout

block startOpt
    -startPath = '../'; 
    -pageId = 'about';   
prepend metas
    meta(name="description" content='some dscr')
    meta(name="keywords" content='some keyw')
    //- social prev-s
    -var socVars = {type: 'some type', title: 'some title', descr: 'some dscr', img: 'some link'}
    +social(socVars)
block content
    //- HEADER
    -var activeIndex = 2
    include ../common/layouts/_header
    //- MAIN CONTENT
    // MAIN CONTENT
    main.main
        section.img-section 
            .container
                .img-section__inner
                    .img-section__col.img-section__col--img
                        picture
                            source(srcset="" media="(max-width: 576px)")
                            source(srcset="" media="(max-width: 992px)")
                            source(srcset=`${startPath}img/about/p1.jpg`)
                            img.scaled-anime(srcset=`${startPath}img/about/p1.jpg` alt="p1")
                    .img-section__col.img-section__col--dscr
                        h1.title Nothing saps a woman’s confidence faster than hair loss.
                        p.text Strong, thick, healthy hair is associated with youth and vitality, and is considered an essential part of a woman’s natural beauty.
                        p.text It’s no wonder then, so many women feel deeply embarrassed or even ashamed by their hair loss. Afraid of what others will think, they disguise their receding hairlines and thinning hair with short haircuts or volumizers.
                        p.text And because everyone talks about men’s hair loss, but not women’s, they often feel like they’re the only ones in the world who are struggling with it.
       
        section.img-section 
            .container
                .img-section__inner.reverse
                    .img-section__col.img-section__col--img
                        picture
                            source(srcset="" media="(max-width: 576px)")
                            source(srcset="" media="(max-width: 992px)")
                            source(srcset=`${startPath}img/about/p3.jpg`)
                            img.scaled-anime(srcset=`${startPath}img/about/p3.jpg` alt="p3")
                    .img-section__col.img-section__col--dscr
                        h2.title Know this: You are not alone.
                        p.text Pregnancy, menopause, aging, illness, injury, medication, weight changes, and stress are just some of the reasons why many women suffer from some form of hair loss by the time they turn 40.
                        p.text But you don’t have to accept that “it’s just a part of life” or “that’s the way it is.” Or resign yourself to using conventional treatments such as laser therapy or chemical applications to treat your hair.
       
        section.img-section 
            .container
                .img-section__inner
                    .img-section__col.img-section__col--img
                        picture
                            source(srcset="" media="(max-width: 576px)")
                            source(srcset="" media="(max-width: 992px)")
                            source(srcset=`${startPath}img/about/p2.jpg`)
                            img.scaled-anime(srcset=`${startPath}img/about/p2.jpg` alt="p2")
                    .img-section__col.img-section__col--dscr
                        h2.title We’re here to help you fight it. Naturally.
                        p.text At Zense, our mission is to help you reclaim your confidence and inner pride by giving you back naturally gorgeous, thick, and healthy hair.
                        p.text Using only organic, natural essences and extracts that nourish your hair from root to tip, promote new hair growth, and strengthen your existing hair.
                        p.text No matter your age, or what you’re going through in your life.
        section.accent-section
            .container
                .accent-section__inner
                    h2.title OUR VALUES
                    ul.accent-section__list
                        li.accent-section__item
                            h3.accent-section__item-title Pure + Powerful Ingridients
                            p.text All of Zense’s organic ingredients are selected for their powerful restorative and growth-boosting abilities. Helping you maximize your new hair growth, while strengthening your existing hair to prevent further loss.
                        li.accent-section__item
                            h3.accent-section__item-title Fast Results
                            p.text Some hair loss treatments claim best results after 6 months of use. That’s a long time to wait. Which is why we developed unique formulas that work rapidly, giving you noticeable results in as little as 30 days.
                        li.accent-section__item
                            h3.accent-section__item-title Simple Applications
                            p.text Your life is busy enough already. So all our treatments are designed to blend perfectly with your existing care routines, making it easier for you to follow them—and see results sooner.


    // MAIN CONTENT - end
    // FOOTER
    -var footerFull = true;
    -var actionText = 'Get naturally stronger, healthier hair in as little as 3 weeks with Zense'
    include ../common/layouts/_footer
    // FOOTER - end
