
//- TEMPLATE

extends ../common/layouts/_layout

block startOpt
    -startPath = '../'; 
    -dataIsHome = false;   
prepend metas
    meta(name="description" content='some dscr')
    meta(name="keywords" content='some keyw')
    //- social prev-s
    -var socVars = {type: 'some type', title: 'some title', descr: 'some dscr', img: 'some link'}
    +social(socVars)
block content
    //- PHONE
    +phone(55555555)
    //- HEADER
    -var activeIndex = 1
    include ../common/layouts/_header
    //- MAIN CONTENT
    // MAIN CONTENT
    main.main
        section.main-view
            .container
                .main-view__inner-wrap
                    h2.main-view__title.title Shop
                    ul.scroll-col__list
                        li.scroll-col__item
                            .table__img-col
                                picture
                                    source(srcset=`${startPath}img/shop/p1_576.jpg` media="(max-width: 576px)")
                                    source(srcset=`${startPath}img/shop/p1_992.jpg` media="(max-width: 992px)")
                                    source(srcset=`${startPath}img/shop/p1.jpg`)
                                    img(srcset=`${startPath}img/shop/p1.jpg` alt="My default image")
                                //- img.response-img(src=`${startPath}img/shop/p1.jpg`)
                            .table__dscr-col
                                .info-dscr
                                    span.info-dscr__close
                                    .info-dscr__inner
                                        .info-dscr__scroller
                                            .info-dscr__col.info-dscr__col--left
                                                .info-dscr__title FAQ
                                                .info-dscr__text Pour your ACTIVATE Hair Growth Essence into your mixing bottle and add your favorite shampoo. Shake gently to mix well and massage into your hair gently every time you wash it.
                                                .info-dscr__text Pour your ACTIVATE Hair Growth Essence into your mixing bottle and add your favorite shampoo. Shake gently to mix well and massage into your hair gently every time you wash it.
                                                .info-dscr__text Pour your ACTIVATE Hair Growth Essence into your mixing bottle and add your favorite shampoo. Shake gently to mix well and massage into your hair gently every time you wash it.
                                                .info-dscr__text Pour your ACTIVATE Hair Growth Essence into your mixing bottle and add your favorite shampoo. Shake gently to mix well and massage into your hair gently every time you wash it.
                                            .info-dscr__col.info-dscr__col--right
                                                .info-dscr__title Ingridients
                                                ul.info-dscr__text
                                                    li Lorem ipsum dolor sit amet.
                                                    li Lorem ipsum dolor sit amet.
                                                    li Lorem ipsum dolor sit amet.
                                                    li Lorem ipsum dolor sit amet.
                                                    li Lorem ipsum dolor sit amet.
                                .dscr-col__top
                                    .table__col.table__col--left
                                        .table__title Buy 1 Package
                                        .table__content Pour your ACTIVATE Hair Growth Essence into your mixing bottle and add your favorite shampoo. Shake gently to mix well and massage into your hair gently every time you wash it. 
                                        ul.table__more-list
                                            li.table__more-item.modal-triger(data-video-src="https://player.vimeo.com/video/183741782") Watch video
                                            li.table__more-item.info-triger FAQ
                                            li.table__more-item.info-triger Ingridients
                                    .table__col.table__col--right
                                        .table__title Price
                                        .table__content now ONLY <span>$50</span>
                                .btns-row
                                    a.accent-btn(href="#") ORDER NOW
                                    +counter
                        li.scroll-col__item
                            .table__img-col
                                picture
                                    source(srcset=`${startPath}img/shop/p1_576.jpg` media="(max-width: 576px)")
                                    source(srcset=`${startPath}img/shop/p1_992.jpg` media="(max-width: 992px)")
                                    source(srcset=`${startPath}img/shop/p1.jpg`)
                                    img(srcset=`${startPath}img/shop/p1.jpg` alt="My default image")
                                //- img.response-img(src=`${startPath}img/shop/p1.jpg`)
                            .table__dscr-col
                                .info-dscr
                                .dscr-col__top
                                    .table__col.table__col--left
                                        .table__title Buy 1 Package
                                        .table__content Pour your ACTIVATE Hair Growth Essence into your mixing bottle and add your favorite shampoo. Shake gently to mix well and massage into your hair gently every time you wash it. 
                                        ul.table__more-list
                                            li.table__more-item.modal-triger(data-video-src="https://player.vimeo.com/video/283927789") Watch video
                                            li.table__more-item.info-triger FAQ
                                            li.table__more-item.info-triger Ingridients
                                    .table__col.table__col--right
                                        .table__title Price
                                        .table__content now ONLY <span>$50</span>
                                .btns-row
                                    a.accent-btn(href="#") ORDER NOW
                                    +counter
                        li.scroll-col__item
                            .table__img-col
                                picture
                                    source(srcset=`${startPath}img/shop/p1_576.jpg` media="(max-width: 576px)")
                                    source(srcset=`${startPath}img/shop/p1_992.jpg` media="(max-width: 992px)")
                                    source(srcset=`${startPath}img/shop/p1.jpg`)
                                    img(srcset=`${startPath}img/shop/p1.jpg` alt="My default image")
                                //- img.response-img(src=`${startPath}img/shop/p1.jpg`)
                            .table__dscr-col
                                .dscr-col__top
                                    .table__col.table__col--left
                                        .table__title Buy 1 Package
                                        .table__content Pour your ACTIVATE Hair Growth Essence into your mixing bottle and add your favorite shampoo. Shake gently to mix well and massage into your hair gently every time you wash it. 
                                        ul.table__more-list
                                            li.table__more-item.modal-triger Watch video
                                            li.table__more-item.info-triger FAQ
                                            li.table__more-item.info-triger Ingridients
                                    .table__col.table__col--right
                                        .table__title Price
                                        .table__content now ONLY <span>$50</span>
                                .btns-row
                                    a.accent-btn(href="#") ORDER NOW
                                    +counter
                        li.scroll-col__item
                            .table__img-col
                                picture
                                    source(srcset=`${startPath}img/shop/p1_576.jpg` media="(max-width: 576px)")
                                    source(srcset=`${startPath}img/shop/p1_992.jpg` media="(max-width: 992px)")
                                    source(srcset=`${startPath}img/shop/p1.jpg`)
                                    img(srcset=`${startPath}img/shop/p1.jpg` alt="My default image")
                                //- img.response-img(src=`${startPath}img/shop/p1.jpg`)
                            .table__dscr-col
                                .dscr-col__top
                                    .table__col.table__col--left
                                        .table__title Buy 1 Package
                                        .table__content Pour your ACTIVATE Hair Growth Essence into your mixing bottle and add your favorite shampoo. Shake gently to mix well and massage into your hair gently every time you wash it. 
                                        ul.table__more-list
                                            li.table__more-item Watch video
                                            li.table__more-item FAQ
                                            li.table__more-item Ingridients
                                    .table__col.table__col--right
                                        .table__title Price
                                        .table__content now ONLY <span>$50</span>
                                .btns-row
                                    a.accent-btn(href="#") ORDER NOW
                                    +counter
    // MAIN CONTENT - end
    // FOOTER
    include ../common/layouts/_footer
    // FOOTER - end

block templates
    //- text content
    template#video-content
        .video-container__outer
            .video-container__inner
                iframe(src="#" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                script(src="https://player.vimeo.com/api/player.js")

